footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #f5f5f5;
  padding: 10px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211f2a;
}


/* Tablet (768px to 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  footer {
    height: 100px;
    padding: 15px;
  }
}

/* Smartphone (max-width: 768px) */
@media screen and (max-width: 768px) {
  footer {
    height: auto;
    padding: 20px 10px;
    font-size: 12px;
  }
}
