/* nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 520px;
  height: 55px;
} */
nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Barlow Regular", sans-serif;
}
nav p {
  margin-left: 20px;
  color: #ffffff;
  order: -1;
}

/* Responsive Design Media Queries */

/* Tablet (768px to 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  nav {
    height: 70px;
    margin-right: 10px;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav p {
    font-size: 14px;
    margin-left: 10px;
  }
}

/* Smartphone (max-width: 768px) */
@media screen and (max-width: 768px) {
  nav {
    height: 60px;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
  }

  nav ul li {
    margin: 5px 0;
    text-align: center;
  }

  nav ul li a {
    font-size: 12px;
  }

  nav p {
    margin-left: 0;
    order: 0;
    font-size: 12px;
    text-align: center;
  }
}
