body {
  background-color: #211f2a;
  font-family: "Barlow Regular", sans-serif;
  margin: 0;
}
.header {
  background-image: url("./images/background-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.header p {
  padding-top: 120px;
  padding-left: 5%;
  margin: auto;
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
}
.games {
  margin: 0 120px;
  color: #ffffff;
}
#title-game {
  font-size: 24px;
}
.container-games {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-between;*/
}
.container-games a {
  text-decoration: none;
  color: #ffffff;
}
.game {
  width: 391px;
  height: 300px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.game img {
  width: 100%;
}
.informations {
  padding: 5px 20px;
}
.game-name {
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.game-times-played {
  width: 110px;
  display: flex;
  justify-content: right;
}

/* Responsive Design Media Queries */

/* Tablet (768px to 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    height: 300px;
  }

  .header p {
    padding-top: 100px;
    font-size: 40px;
  }

  .games {
    margin: 0 60px;
  }

  #title-game {
    font-size: 20px;
  }

  .container-games {
    justify-content: center;
  }

  .game {
    width: 320px;
    height: 250px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .game-name {
    font-size: 32px;
  }
}

/* Smartphone (max-width: 768px) */
@media screen and (max-width: 768px) {
  body {
    background-color: #211f2a;
  }

  .header {
    height: 250px;
    background-position: center;
  }

  .header p {
    padding-top: 80px;
    padding-left: 10%;
    font-size: 28px;
  }

  .games {
    margin: 0 10px;
  }

  #title-game {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .container-games {
    flex-direction: column;
    align-items: center;
  }

  .container-games a {
    width: 100%;
  }

  .game {
    width: 100%;
    max-width: 350px;
    height: 220px;
    margin-right: 0;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .game img {
    width: 100%;
    height: 100%;
  }

  .informations {
    padding: 5px 10px;
  }

  .game-name {
    font-size: 22px;
  }

  .game-times-played {
    width: 100%;
    font-size: 12px;
  }
}
